<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <script src="https://unpkg.com/@popperjs/core@^2.0.0"></script>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

  <div class="container-fluid">
  
    <div class="row">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
          <div id="brand" class="col-xl-2 col-lg-3 col-md-3">
            <a class="navbar-brand" href="/home"><b>Bases de Datos</b></a>
            <button style="float: right;" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div id="items" class="col-xl-10 col-lg-9 col-md-9">
            <div class="navbar-collapse collapse" id="navbarColor01" style="">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/patients"><i style="margin-right: 15.5px; margin-left: 5px;" class="fas fa-user-injured"></i> <b>Pacientes</b></a>
                </li>
              </ul>
            </div>  
          </div>        
        </nav>
    </div>


    <div class="row content">
      <div class="col-xl-2 col-lg-3 d-none d-lg-block"></div>
      <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11">
        <div class="row content-info">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item"><a href="/patients">Pacientes</a></li>
              <li class="breadcrumb-item active"><a href="#">Datos Personales</a></li>
            </ol>
        </div>
        <div class="row content-info">
          <div class="col-xl-8 col-lg-9 col-md-9 col-sm-12 col-12">
            <legend>Datos Personales</legend>
            <hr style="border-width: 2px; background-color: #777777;">
            <% if (patient) { -%>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Nombre:</b></label>
                <div class="col-sm-10">
                  <% if (patient.name) { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="<%= patient.name %>">  
                  <% } else { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="Nombre no disponible">
                  <% } -%>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Apellidos:</b></label>
                <div class="col-sm-10">
                  <% if (patient.surname) { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="<%= patient.surname %>">  
                  <% } else { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="Apellidos no disponibles">
                  <% } -%>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>DNI:</b></label>
                <div class="col-sm-10">
                  <% if (patient.dni) { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="<%= patient.dni %>">  
                  <% } else { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="DNI no disponible">
                  <% } -%>
                </div>
              </div>
              <hr>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Ciudad:</b></label>
                <div class="col-sm-10">
                  <% if (patient.city) { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="<%= patient.city %>">  
                  <% } else { -%>
                    <input type="text" readonly="" class="form-control-plaintext" value="Ciudad no disponible">
                  <% } -%>
                </div>
              </div>
              <hr>

              <legend>Historial Médico</legend>
              <hr style="border-width: 2px; background-color: #777777;">

              <div class="history">
                <% if (patient.medicalHistory) { %>
                  <% for(var i=0; i<patient.medicalHistory.length; i++) {%>
                    <div class="card text-white bg-primary mb-3" style="width: 15rem;">
                      <div class="card-header"><%= patient.medicalHistory[i].specialist %></div>
                      <div class="card-body">
                        <h4 class="card-title"><b><%= patient.medicalHistory[i].diagnosis %></b></h4>
                        <p class="card-text">Fecha: <%= patient.medicalHistory[i].date.toISOString().slice(0,10) %></p>
                      </div>
                    </div>
                  <% } %>
                <% } %>
              </div>

            <% } else { -%>
              <p ><b>No se encuentran los datos del paciente</b></p>
            <% } -%>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>